body {
  background-color: #eceadd;
}

nav {
  padding: 0px 135px 0px 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: linear-gradient(to right, #eceadd 0%, #eceadd 100%);
}
nav .logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: "DM Serif Display", "sans-serif";
  letter-spacing: 2px;
}
nav .logo-div h1 {
  text-decoration: none;
  background-image: linear-gradient(135deg, #091adb, #c04316);
  background-clip: text;
  color: transparent;
}
nav .logo-div h1:hover {
  background-image: linear-gradient(135deg, #9f0692, #c80909);
}
nav .logo-div .logo-img {
  width: 80px;
  height: 80px;
}
nav .nav-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  font-family: "DM Serif Display", "sans-serif";
  font-size: 18px;
  margin-top: 20px;
}
nav .nav-tags li {
  list-style: none;
}
nav .nav-tags li:hover {
  animation: wave 0.5s 0s infinite;
}
nav .nav-tags a {
  text-decoration: none;
}

@keyframes wave {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(-2px);
  }
}
#greet {
  margin: 50px 135px 0px 135px;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(135deg, #091adb, #c04316);
  background-clip: text;
  color: transparent;
}

.global-sales {
  margin: 20px 135px 0px 135px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 150px;
}
.global-sales img {
  width: 400px;
  border-radius: 50px;
  margin-top: 50px;
}
.global-sales > div {
  flex-grow: 2;
}
.global-sales > div h1 {
  text-decoration: none;
  background-image: linear-gradient(135deg, #091adb, #c04316);
  background-clip: text;
  color: transparent;
}
.global-sales > div table {
  border-collapse: collapse;
  border-radius: 30px;
  width: 100%;
  margin-top: 20px;
}
.global-sales > div table tr > #us {
  width: 10px;
  height: 10px;
}
.global-sales > div table th, .global-sales > div table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}
.global-sales > div table th {
  background-color: #0083d0;
}
.global-sales > div table tbody {
  background-color: #eceadd;
}

.status {
  padding: 50px 135px 0px 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.status img {
  width: 340px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  top: -15px;
  transition: all 0.3s ease-in;
}
.status img:hover {
  transform: translateY(-15px);
  cursor: pointer;
}
.status div {
  padding: 0px 20px 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.status div h3 {
  font-family: "DM Serif Display", "sans-serif";
  font-size: 20px;
  margin-bottom: 10px;
  color: #193282;
}
.status div hr {
  margin-bottom: 5px;
}
.status div p {
  font-family: "DM Serif Display", "sans-serif";
  font-size: 16px;
  color: rgb(49, 46, 46);
}

.destination-list {
  margin: 50px 50px 0px 50px;
  height: auto;
  background-image: linear-gradient(135deg, #091adb, #c04316);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  height: auto;
}
.destination-list .card {
  background-color: #eceadd;
  border-radius: 20px;
  height: 280px;
  display: flex;
  flex-direction: column;
}
.destination-list .card img {
  border-radius: 20px 20px 0 0;
  width: 250px;
  height: 300px;
}
.destination-list .card .card-body {
  background-color: #eceadd;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.destination-list .card .card-body .details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.destination-list .card .card-body .details .card-strikethroughprice {
  text-decoration: line-through;
  color: red;
}
.destination-list .card .card-body .details .card-offerPrice {
  color: red;
}
.destination-list .card .card-body .edit-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.destination-list .card .card-body .edit-buttons button {
  color: white;
  padding: 4px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.destination-list .card .card-body .edit-buttons button:hover {
  cursor: pointer;
}
.destination-list .card .card-body .edit-buttons .edit {
  color: red;
}
.destination-list .card .card-body .edit-buttons .delete {
  background-color: red;
  color: white;
}

.admin-container2 {
  display: flex;
  flex-direction: row;
  margin: 50px 50px 0px 50px;
  gap: 50px;
}
.admin-container2 .updateForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #ffb703;
  border-radius: 10px;
  border: 2px solid black;
  width: 400px;
}
.admin-container2 .updateForm h2 {
  font-family: "DM Serif Display", "sans-serif";
  font-size: 25px;
  color: #193282;
}
.admin-container2 .updateForm input {
  border-radius: 3px;
  border: none;
  padding: 0px 0px 0px 10px;
  height: 28px;
}
.admin-container2 .updateForm > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.admin-container2 .updateForm button {
  width: 150px;
  height: 30px;
  color: white;
  border: 1px solid #193282;
  border-radius: 10px;
  display: inline;
  padding: 4px 8px;
  cursor: pointer;
  background-color: #023047;
  transition: all 0.3s ease-in;
}
.admin-container2 .updateForm button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.admin-container2 .package-list {
  background-color: #fb8500;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  height: auto;
}
.admin-container2 .package-list .card {
  background-color: #eceadd;
  border-radius: 20px;
  height: 280px;
  display: flex;
  flex-direction: column;
}
.admin-container2 .package-list .card img {
  border-radius: 20px 20px 0 0;
  width: 200px;
  height: 200px;
}
.admin-container2 .package-list .card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.admin-container2 .package-list .card .card-body .details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.admin-container2 .package-list .card .card-body .details .card-strikethroughprice {
  text-decoration: line-through;
  color: red;
}
.admin-container2 .package-list .card .card-body .details .card-offerPrice {
  color: red;
}
.admin-container2 .package-list .card .card-body .edit-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-container2 .package-list .card .card-body .edit-buttons button {
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.admin-container2 .package-list .card .card-body .edit-buttons button:hover {
  cursor: pointer;
}
.admin-container2 .package-list .card .card-body .edit-buttons .edit {
  color: red;
}
.admin-container2 .package-list .card .card-body .edit-buttons .delete {
  background-color: red;
  color: white;
}

/*# sourceMappingURL=index.css.map */
